<div class="container">
    <div class="column left">
        <div class="score mono">
            <p>Score: {{ score * 100 }}</p>
            <p>Lines: {{ lines }}</p>
            <p>Level: {{ level }}</p>
            <p>Moves: {{ moves }}</p>
        </div>
        <svg #gscore id="gscore" class="mono"></svg>
        <div class="buttons">
            <button tabindex="-1" (click)="reset()">Start</button>
            <button tabindex="-1" (click)="pause = !pause">Pause</button>
        </div>
    </div>
    <div class="column center">
        <svg #tetris id="tetris"></svg>
    </div>
</div>
  